*{
  box-sizing: border-box;
}
.container{
  max-width: 1300px;
  margin: 0;
  padding: 0;
}
header{
  height: 523px;
  background:   url("https://images.unsplash.com/photo-1446376271024-d83b7f98ed83?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0ce106547cec0f8fe2e48374fed11141");
  background-size: cover;
  position: relative; */for absolute children*/
}
header:before{
  content: "";
  position: absolute;
  background-color: rgba(16,98,170,.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header nav,
header h1,
header h3{
  position: relative;
}

header h1,
header h3{
  text-align: center;
}
header h1{
  font-size: 103px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  top: 207px;
  left: 187px;
}
header h3{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 314px;
  left: 488px;
}
/*Top bar*/
#paddle{
  font-family: 'Open Sans', sans-serif;
  color: black;
  transform:scale(-3,1); /* Safari and Chrome */
  letter-spacing: -5px;
/*  transform-origin: Research this*/

}

.utility-nav{
    margin-right: 63px;
    margin-left: 17px;
}
/*About and Search-pixel-perfect*/
.utility-nav a{
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
  padding-right: 22px;
  font-size: 18px;
}
.utility-nav a:hover{
  color: white;
}
/*Top Left Surf and Paddle Co Blog*/
.utility-nav span {
  display: inline-block;
  width:394px;
  height:85px;
  margin-top: 0px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  margin: 0 auto;
  padding: 0 auto;
}
.blog{
  margin: 0;
  padding: 0;
  display: inline-block;
}

.utility-nav span1{
  position: absolute;
  right: 56px;
  margin-right: 23px;
  padding-left: 22px;
}

.utility-nav span2{
  position: absolute;
  right: 30px;

}

/*perfect-pixel surf image*/
.surf{
  height: 46px;
  width: 46px;
  margin-right: 12px;
  margin-top: 10px;

}

.utility-nav #nav{
  position: absolute;
  top: 21px;
  right: 140px;
}

.search{
  height: 14px;
  width: 14px;
  position: absolute;
  margin-left: 8px;
  margin-top: 2px;
  margin-right: 84px;
}


/*Middle Section*/

.mid h1{
  font-family: 'Oswald', sans-serif;
  font-size: 63px;
  color: #223752;
  line-height: 1.1em;
  padding-bottom: 3px;
  margin-bottom: 13px;
}
.mid span{
  margin-top: 69px;
  position: absolute;
  top: 518px;
  left:164px;
  letter-spacing: .15px;
}
.content1{
  color: #757B81;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  height: 597px;
  width: 671px;
  float: left;
  margin-left: 164px;
  margin-top: 134px;
}
.mid p{
  margin-top: 43px;
}
.clearfix{
  clear:both;
}
.break{
  height: 59px;
  border-left: 1px solid #D2D2D2;
  color: #406DB0;
  font-size: 28px;
  text-align: left;
  margin: 10px;
  padding: 0 auto;
}
.break p{
  position: relative;
  top: 20px;
  left: 20px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
#profilepic1{
  border-radius: 50%;
  height: 24px;
  width: 24px;
  float: left;
  position: relative;
  margin-top: -12px;
  left: 4px;
}

aside .tint {
  position: relative;
}

aside .tint:after{
  content: '';
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: rgba(16,98,170,.5);
  bottom: 0;
  right: 0;
}

#name1{
  margin: -2px;
  padding:0 auto;
  vertical-align: middle;
  color: #406DB0;
  font-size: 12.5px;
  float: left;
  position: relative;
  left: 10px;

}

#date{
  position: relative;
  top: -2px;
  left:12px;
  margin: 0 auto;
  vertical-align: middle;
  padding-left: 16px;
  font-size: 13px;
  font-style: 'Open Sans', sans-serif;
  text-decoration: underline;
  color:#BCC5CE;
  float: left;
}
#on{
  display: inline-block;
}

#profilepic2{
  height: 84px;
  width: 84px;
  border-radius: 50%;
  /*float: left;
  margin: 0 auto;
  padding: 0 auto;*/
  vertical-align: middle;
  max-width: 100%;
}
.author{
  font-family: 'Open Sans', sans-serif;
}
.author .tint{
  position: relative;
  left:13px;
}

.author .tint:after{
  border-radius: 50%;
  height: 84px;
  width: 84px;
}

#name2{
  display: block;
  clear: left;
  color: #406DB0;
  font-size: 16px;
  font-style: 'Open Sans', sans-serif;
  text-align: center;
  margin: 17px 41px 7px 20px;
  position: relative;
  right: 99px;
  top: -4px;
}
.social a{
  font-family: 'Open Sans', sans-serif;
  color: #A6B1BD;
  text-decoration: none;
  font-size: 14px;
}

.ad{
  height: 301px;
  width: 277px;
  max-width: 100%;
}


.ad-container .tint{
  height: 301px;
  width: 277px;
}

aside{
  height: 946px;
  width: 413px;
  float: right;
  margin-top: 83px;
  margin-left: 5px;
  margin-right: 5px;

}

.sidebar-ad{
  height: 301px;
  width: 277px;
}
.sidebar-ad h3{
  font-family: 'Oswald', sans-serif;
  text-align: left;
  color: #406DB0;
}
.sidebar-ad p{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #A7B2BE;
  line-height: 25px;
}

#ad-text{
  text-align: right;
  color:#BCC5CE;
  font-family: 'Open Sans', sans-serif;
}
.end{

}
.end h1{
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  text-align: center;
}
.endpics{
  float: left;
}
.endpics img{
  float: left;
  max-width: 100%;
  height: 329px;
  width: 320px;
  padding: 0 auto;
  margin: 0 auto;
  border: 0 auto;

}
footer{
  clear: both;
}
.copyright{
  width: 409px;
  height: 66px;
}
.footer-nav ul{
  float: left;
}
