*{
  box-sizing: border-box;
}
.container{
  max-width: 1300px;
  margin: 0;
  padding: 0;
}
header{
  height: 523px;
  background:   url("https://images.unsplash.com/photo-1446376271024-d83b7f98ed83?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0ce106547cec0f8fe2e48374fed11141");
  background-size: cover;
  position: relative; */for absolute children*/
}
header:before{
  content: "";
  position: absolute;
  background-color: rgba(16,98,170,.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header nav,
header h1,
header h3{
  position: relative;
}

header h1,
header h3{
  text-align: center;
}
header h1{
  font-size: 103px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  top: 207px;
  left: 187px;
}
header h3{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 314px;
  left: 488px;
}
/*Top bar*/
#paddle{
  font-family: 'Open Sans', sans-serif;
  color: white;
  transform:scale(-3,1); /* Safari and Chrome */
  letter-spacing: -5px;
/*  transform-origin: Research this*/

}

.utility-nav{
    margin-right: 63px;
    margin-left: 17px;
}
/*About and Search-pixel-perfect*/
.utility-nav a{
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
  padding-right: 22px;
  font-size: 18px;
}
.utility-nav a:hover{
  color: white;
}
/*Top Left Surf and Paddle Co Blog*/
.utility-nav span {
  display: inline-block;
  width:394px;
  height:85px;
  margin-top: 0px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;

  text-align: right;
  margin: 0 auto;
  padding: 0 auto;
}
.blog{
  margin: 0;
  padding: 0;
  display: inline-block;
}

.utility-nav span1{
  position: absolute;
  right: 56px;
  margin-right: 23px;
  padding-left: 22px;
}

.utility-nav span2{
  position: absolute;
  right: 30px;

}

/*perfect-pixel surf image*/
.surf{
  height: 46px;
  width: 46px;
  margin-right: 12px;
  margin-top: 10px;

}

.utility-nav #nav{
  position: absolute;
  top: 21px;
  right: 140px;
}

.search{
  height: 14px;
  width: 14px;
  position: absolute;
  margin-left: 8px;
  margin-top: 2px;
  margin-right: 84px;
}


/*Middle Section*/
.mid{
  width: 605px;
}
.mid h1{
  font-family: 'Oswald', sans-serif;
  font-size: 63px;
  color: #223752;
  line-height: 1.1em;
  padding-bottom: 3px;
  margin-bottom: 13px;
}
.mid span{
  margin-top: 69px;
  position: absolute;
  top: 518px;
  left:164px;
  letter-spacing: .15px;
}
.content1{
  color: #757B81;
  font-size: 15.5px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  height: 576px;
  width: 671px;
  float: left;
  margin-left: 164px;
  margin-top: 134px;
  line-height: 25px;

}
.mid p{
  margin-top: 43px;
}
.para1,
.para2,
.para3,
.para4{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.para1{
  position: relative;
  bottom:21px;
}
.para2{
  position: relative;
  left: 2px;
  bottom: 32px;
}
.para2 a{

  color: #C9D0D8;
}
.para2 a:hover{
  color: #406DB0
}

.clearfix{
  clear:both;
}
.break{
  height: 59px;
  border-left: 1px solid #D2D2D2;
  color: #406DB0;
  font-size: 28px;
  text-align: left;
  margin: 10px;
  padding: 0 auto;
  position: relative;
  top: bottom:153px;
  left: 4px;
  bottom:38px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.break p{
  position: relative;
  top: bottom:41px;
  margin-top: 20px
  margin-bottom:20px;
  left: 16px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
#profilepic1{
  border-radius: 50%;
  height: 24px;
  width: 24px;
  float: left;
  position: relative;
  margin-top: -12px;
  left: 4px;
}
.choices li{
  float: left;
  background-color: #A6B1BD;
  color: white;
  font-size: 12px;
  margin-left: 10px;
  letter-spacing: .75px;
}

#comment,
#upload,
#share{
  float: left;
  max-width: 100%;
  background-color: #61686F;
  height: 31px;
  width: 30px;
  margin: 0 auto;
  padding: 0 auto;
  vertical-align: middle;

}
#share{
  background-color: #223752;
}
#blue{
  background-color: #406DB0;
}
#comment,
#upload i{
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding-left: 5px;
  padding-top: 2px;
  font-size: 17px;
  vertical-align: middle;
}
#upload,
#share{

}
#share img{
  height: 13px;
  width: 21px;
  margin: 0 auto;
  padding-left: 5px;
  vertical-align: middle;
  color: white;
}


/*Sidebar*/

aside .tint {
  position: relative;
}

aside .tint:after{
  content: '';
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: rgba(16,98,170,.5);
  bottom: 0;
  right: 0;
}

#name1{
  margin: -2px;
  padding:0 auto;
  vertical-align: middle;
  color: #406DB0;
  font-size: 12.5px;
  float: left;
  position: relative;
  left: 10px;

}

#date{
  position: relative;
  top: -9px;
  left:6px;
  margin: 0 auto;
  vertical-align: middle;
  padding-left: 16px;
  font-size: 13px;
  font-style: 'Open Sans', sans-serif;
  text-decoration: underline;
  color:#BCC5CE;
  float: left;
  letter-spacing: .25px;
}
#on{
  display: inline-block;
}

#profilepic2{
  height: 84px;
  width: 84px;
  border-radius: 50%;
  /*float: left;
  margin: 0 auto;
  padding: 0 auto;*/
  vertical-align: middle;
  max-width: 100%;
}
.author{
  font-family: 'Open Sans', sans-serif;
}
.author .tint{
  position: relative;
  left:97px;
  height: 84px;
  width: 84px;
}

.author .tint:after{
  border-radius: 50%;
  height: 84px;
  width: 84px;
}

#name2{
  display: block;
  clear: left;
  color: #406DB0;
  font-size: 16px;
  font-style: 'Open Sans', sans-serif;
  text-align: center;
  margin: 17px 41px 7px 20px;
  position: relative;
  right: 57px;
  top: -3px;
}
.social{
  position: relative;
  left:42px;
  bottom: 6px;
  width: 300px;

}
.social a{
  font-family: 'Open Sans', sans-serif;
  color: #A6B1BD;
  text-decoration: none;
  font-size: 12px;
}
#facebook{
  float: left;
  position:relative;

}
#twitter{
  float: left;
  position: relative;

}
#instagram{
  float: left;
  letter-spacing: 1.25px;
}

.ad{
  height: 301px;
  width: 277px;
  max-width: 100%;
}


.ad-container .tint{
  height: 301px;
  width: 277px;
}

aside{
  height: 946px;
  width: 413px;
  float: right;
  margin-top: 83px;
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar-ad{
  height: 301px;
  width: 277px;
}
.sidebar-ad h3{
  font-family: 'Oswald', sans-serif;
  text-align: left;
  color: #406DB0;
  font-size: 18px;
}
.sidebar-ad p{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #A7B2BE;
  line-height: 25px;
}

#ad-text{
  float: left;
  text-align: right;
  color:#BCC5CE;
  font-family: 'Open Sans', sans-serif;
}
.end{
  border-top: 1px solid red;
  height: 574px;
  padding: 0;
  border: 0;
  margin: 0;
}
.end h1{
  font-family: "Oswald", sans-serif;
  font-size: 63px;
  text-align: center;
  color: #223752;
  margin-left: 356px;
  margin-bottom: 0px;
  margin-top: 16px;
  width: 590px;
}
.endpics{
  float: left;
  position: relative;
  top: 47px;
/*right: 1px;*/
  height: 330px;
  width: 1300px;
  padding: 0;
  margin: 0;
  border: 0;
}
.endpics img{
  display: inline-block;
  height: 330px;
  width: 325px;
  padding: 0 auto;
  margin: 0 auto;
  border: 0 auto;
  opacity: 25%;
}
#img1,
#img2,
#img3,
#img4{
  float: left;
}
#img1{
  width: 324px;
}
#img2{
  width: 325px;
}
#img3{
  width: 325px;
}
#img4{
  width: 325px;
}
.pictext ul{

  font-size: 29.5px;
  font-family: "Oswald", sans-serif;
  color: #223752;
}
.pictext li{
  display: inline-block;
  float: left;
  width: 320px;
  position: relative;
  top:2px;
  left: 28px;
}
#white{
  float: left;
  color: white;
  position: relative;
  left: -6px;
}
#list1{
  position: relative;
  bottom: 1px;
  right:12px;
}
#list3{
  position: relative;
  bottom: 40px;
  left:1px;
}
#list3 li{
  float: left;
  width: 260px;
  line-height: 33px;
  font-size: 30px;
}
#list4{
  float: left;
  position: relative;
  left:67px;
  top:1px;
}

footer{
  float: left;
  height: 110px;
  width: 1300px;
  position: relative;
  bottom: 20px;
  background-color: #223752;

}
.copyright{
  display: inline-block;
  float: left;
  height: 52px;
  color: white;
  margin-left: 160px;
}
.copyright img{
  display: inline-block;
  float: left;
  position: relative;
  right: 5px;
  top: 14px;
  height: 65px;
  width: 65px;
}
#tiy{
  float: left;
  position: relative;
  top: 39px;
  right: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 13.5px;
  letter-spacing: .2px;
}
.footer-nav{
  display: inline-block;
  float: left;
}
.footer-nav ul{
  display: inline-block;
  float: left;
  position: relative;
  top: 40px;
  left: 278px;

}
.footer-nav li{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #A2AEBB;
  float: left;
  text-align: right;
}
.footer-nav li:hover{
  color: white;
}
